@font-face {
	font-family: "Montserrat-reguler";
	src:url("../fonts/Montserrat-Regular_1.ttf") format("truetype");
	font-style:normal;
	font-weight: normal;
}
@font-face {
	font-family: "peace_sans";
	src:url("../fonts/peace_sans.otf") format("truetype");
	font-style:normal;
	font-weight: normal;
}